html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(8, 163, 168);
}

.box-father {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.box {
  height: 80px;
  width: 20px;
  background-color: white;
}

.box:nth-child(1) {
  animation: 1.5s scaleup-boxs infinite ease-in-out;
}

.box:nth-child(2) {
  animation: 1.5s scaleup-boxs 0.1s infinite ease-in-out;
}

.box:nth-child(3) {
  animation: 1.5s scaleup-boxs 0.2s infinite ease-in-out;
}

.box:nth-child(4) {
  animation: 1.5s scaleup-boxs 0.3s infinite ease-in-out;
}

.box:nth-child(5) {
  animation: 1.5s scaleup-boxs 0.4s infinite ease-in-out;
}

@keyframes scaleup-boxs {
  0% {
    transform: none;
  }
  25% {
    transform: scale(1, 2.5);
  }
  50% {
    transform: none;
  }
}
